<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.solicitudesfup">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SolicitudesFUP"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Main2Activity" />

        <activity android:name=".Main2ActivityNotas" />
        <activity android:name=".Main2Activity_Sol_Cert" />
        <activity android:name=".Main2Activity_Peticiones" />
        <activity android:name=".Main2Activity_Cons_Sol">
        </activity>
    </application>

</manifest>
